
body{
  font-family:sans-serif;
  margin:0;
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}main{
   flex: 1 0 auto;
 }.rel{
  position:relative;
  background:rgba(0,0,0,0.7);
  text-align: center;
   display:none;
}a,input,button{
  color:#0084ff;
  text-decoration: none;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
}a:hover{
  color:#888;
}#main{
   display: none;
   text-align: center;
 }

/*PRELOADER - Properties and Animation (start)*/
#loader {
  position: absolute;
  left: 45%;
  top: 45%;
  margin: -75px 0 0 -75px;
  color: #f3f3f3;
  border-radius: 50%;
  z-index: 1;
  width: 250px;
  height: 100px;
  -webkit-animation: spin 4s alternate infinite;
  animation: spin 4s alternate infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(360deg); }
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
/*PRELOADER - Properties and Animation (End)#
*******************************************
/*BACKGROUND ANIMATION (Starts)*/
.bg,.bg img{
  position:fixed;
  width:100%;
  height:100%;
}.bg img{
  position:absolute;
  -moz-animation:vis 8s ease infinite;
  -webkit-animation:vis 8s ease infinite;
}.bg img:nth-of-type(1){-moz-animation-delay:6s;-webkit-animation-delay:6s;
}.bg img:nth-of-type(2){-moz-animation-delay:4s;-webkit-animation-delay:4s;
}.bg img:nth-of-type(3){-moz-animation-delay:2s;-webkit-animation-delay:2s;
}.bg img:nth-of-type(4){-moz-animation-delay:0s;-webkit-animation-delay:0s;
}@-moz-keyframes vis{
  0%{opacity:1;
    }17%{opacity:1;
    }30%{opacity:0;
    }90%{opacity:0;
    }100%{opacity:1;}
}@-webkit-keyframes vis{
  0%{opacity:1;
    }17%{opacity:1;
    }30%{opacity:0;
    }90%{opacity:0;
    }100%{opacity:1;}
}
/*BACKGROUND ANIMATION (Ends)#
**********************************
HEADER - Properties (Starts)*/

header {
  position: relative;
  text-align: center;
  height: 100vh;
  color: #fff;
}

header h1 {
  padding-top: 130px;
  padding-top: -webkit-calc(60vh - 113px);
  padding-top: expression(60vh - 113px);
  padding-top: -moz-calc(60vh - 113px);
  padding-top: -o-calc(60vh - 113px);
  padding-top: calc(60vh - 113px);
  font-size: 4em;
  font-weight: 100;
  font-family: quicksand;
}

header h2 {
  font-size: 2em;
}

header span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header span::before,
header span::after {
  position: absolute;
  top: -23px;
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

/*HEADER - Properties (Ends)#
******************************
CONTENT - IndexPage(Starts)*/
.contentmain-wrapper{
  text-align: center;
}
.contentmain{
  background: #fff;
  width:80%;
  top: 600;
  color:#111;
  font-family:courier;
  font-size: 18px;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  opacity: 0.89;
  padding: 1.5%;
  align-self: center;
  display: inline-block;
  overflow-wrap: break-spaces;
}.contentmain img{
  border-radius: 10px;
}
/*CONTENT - IndexPage(Ends)#
*****************************
EXTRA FONTS (Starts)*/
@font-face {
  font-family: sofia;
  src: url('../font/Sofia-Regular.otf');
}@font-face {
  font-family: courier;
  src: url('../font/Courier.ttf');
}@font-face {
  font-family: quicksand;
  src: url('../font/Quicksand-Light.otf');
}@font-face {
  font-family: atomicage;
  src: url('../font/atomicage-regular.ttf');
}@font-face {
  font-family: radiospace;
  src: url('../font/radiospacebold.ttf');
}
/*EXTRA FONTS (Ends)#
**************************
FORM PROPERTIES (Starts)*/

#input{
  background: #efefef;
  color:#333;
  border:none;
  border-radius: 10px;
  max-width: 300;
}
#button{
  background-color: #fff;
  min-width: 75px;
  height:35px;
  color: #0084ff;
  border: none;
  border-radius: 10px;
}#button:hover{
  background-color: red;
  color:#fff;
}#input:checked{
  background-color: #020082;
}
/*FORM CONTROLS(Ends)#
**********************
Scroll bar properties*/
::-webkit-scrollbar{
  width:5px;
}::-webkit-scrollbar-track {
   background: none;
 }::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#713361, #b54b70);
    height:20px
  }


  .annote{
    height: 50px;
    background-image: linear-gradient(#713361, #b54b70);
    color: #fff;
    opacity: 0.7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    padding: 5px;
    font-size: 25px;
    vertical-align: center;
    font-family: courier, serif;
    display: block;
    left: 43%;
    position: absolute;
  }


#page-content {
  flex: 1 0 auto;
}


.social{
  background: rgba(113, 51, 97,0.5);
  color: #ffffff;
  height: 50px;
  position: fixed;
  left: -60px;
  top:60%;
  transform: rotate(-90deg);
  border-radius: 9px;
  width: 200px;
  padding: 1em;
}